/* body{
    height: 100%;
    background: radial-gradient(243.55% 153.69% at 23.48% -1.07%, #EBF3F5 10.46%, #C5E2F0 100%);
} */
/* .loginBody{
 
    
    width: 100%;
    padding-left: 45vh;
    padding-top: 15vh;
    padding-bottom: 15vh;
} 
    */
